---
Language:        Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
ColumnLimit: 0
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
PointerAlignment: Left
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Never
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
SpacesBeforeTrailingComments: 1
AllowShortIfStatementsOnASingleLine: false
SortIncludes: true
EmptyLineBeforeAccessModifier: Always
PackConstructorInitializers: Never
