[submodule "ImGui"]
	path = Kepler/Dependencies/ImGui
	url = https://github.com/Hamsik2rang/ImGui
	branch = docking
[submodule "spdlog"]
	path = Kepler/Dependencies/spdlog
	url = https://github.com/Hamsik2rang/spdlog
[submodule "implot"]
	path = Kepler/Dependencies/implot
	url = https://github.com/MistarJo/implot