[submodule "ImGui"]
	path = Kepler/Dependencies/ImGui
	url = https://github.com/Hamsik2rang/ImGui
	branch = docking
[submodule "spdlog"]
	path = Kepler/Dependencies/spdlog
	url = https://github.com/Hamsik2rang/spdlog
[submodule "implot"]
	path = Kepler/Dependencies/implot
	url = https://github.com/MistarJo/implot
[submodule "Kepler/Dependencies/KeplerMath"]
	path = Kepler/Dependencies/KeplerMath
	url = https://github.com/hamsik2rang/KeplerMath
[submodule "assimp"]
	path = Kepler/Dependencies/assimp
	url = https://github.com/hamsik2rang/assimp
